# Python output

In [ ]:
#python is a case sensitive language
print('Hello World')

In [5]:
print(7)

7

In [7]:
print(5.8)

5.8

In [9]:
print(True)

True

In [11]:
print("Rekha Aryal" , 7 , 5.8 , True)

Rekha Aryal 7 5.8 True

In [13]:
print("Rekha Aryal" , 7 , 5.8 , True , sep='/')

Rekha Aryal/7/5.8/True

In [15]:
print('Hello')
print('World')

Hello
World

In [17]:
print('Hello' , end = '_')
print('World')

Hello_World

# Data Types

In [19]:
#integer
print(8)
#1*10^308
print(1e309)

8
inf

In [21]:
#Decimal / float
print(5.8)
print(1.7e309)

5.8
inf

In [25]:
#Boolean
print(True)
print(False)

True
False

In [27]:
#Text/String
print("Rekha Aryal")

Rekha Aryal

In [29]:
#complex
print(5+6j)

(5+6j)

In [31]:
#List   C-> Array
print([1,3,4,2,5])

[1, 3, 4, 2, 5]

In [73]:
list_variable = [1 , 2 ,'Rekha' , 1.4 , True ,2,1,1.4]
print(list_variable)
type(list_variable)

[1, 2, 'Rekha', 1.4, True, 2, 1, 1.4]

list

In [45]:
list_variable[3] = 'assigning different value'

In [47]:
list_variable

[1, 2, 'Rekha', 'assigning different value', True]

In [33]:
#Tuple : A tuple is denoted by a series of values wrapped in parenthesis() .
## core difference between list and tuple is that tuple is immutable(can't be change).
# used in computer vision
tuple_variable = (1 , 2, 3.4 , True)
type(tuple_variable)
print(tuple_variable)
type(tuple_variable)

(1, 2, 3.4, True)

tuple

In [49]:
tuple_variable[3]

True

In [51]:
tuple_variable[3] = 'Error' # immutable : we can't change value

TypeError: 'tuple' object does not support item assignment

In [59]:
#set : immutable , no dublicate value
set_variable = {1, 'Rekha' , 2.3 , 5 , 1}
type(set_variable)

set

In [61]:
set_variable # it doesnot contain duplicate value

{1, 2.3, 5, 'Rekha'}

In [57]:
set_variable[3] = 432 # immutable ,

TypeError: 'set' object does not support item assignment

In [79]:
# Type casting list to set and back to list to get rid of duplicate
type(list(set(list_variable)))

list

In [105]:
#Dictionary : A Dictionary is a set of key value pairs wrapped ina curl braces {} . 
#They are used a lot ! for eg: mapping a number of columns (key) in a dataset to the datapoints(values)
dict_variable = {'name' :"Rekha" ,' age' : 24 , 'Gender' : "Female" }
type(dict_variable

dict

# 2.Lists

In [4]:
#Create
AryalFamilyNames = ['Rekha Aryal','Rama Aryal','Roshan Aryal' , 'Tej Prasad Aryal' , 'Kalpana Aryal']

In [6]:
#Read
AryalFamilyNames

['Rekha Aryal',
 'Rama Aryal',
 'Roshan Aryal',
 'Tej Prasad Aryal',
 'Kalpana Aryal']

In [8]:
#Reading using indexing
AryalFamilyNames[3]

'Tej Prasad Aryal'

In [10]:
AryalFamilyNames[-1]

'Kalpana Aryal'

In [12]:
len(AryalFamilyNames)

5

In [14]:
#Update
AryalFamilyNames[3] = 'Shyam Aryal'

In [16]:
AryalFamilyNames

['Rekha Aryal', 'Rama Aryal', 'Roshan Aryal', 'Shyam Aryal', 'Kalpana Aryal']

In [18]:
AryalFamilyNames.append('Tej Prasad Aryal')

In [20]:
AryalFamilyNames

['Rekha Aryal',
 'Rama Aryal',
 'Roshan Aryal',
 'Shyam Aryal',
 'Kalpana Aryal',
 'Tej Prasad Aryal']

In [22]:
AryalFamilyNames.insert??

Signature: AryalFamilyNames.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [24]:
AryalFamilyNames.insert(0 , 'Amba Aryal' )

In [26]:
AryalFamilyNames

['Amba Aryal',
 'Rekha Aryal',
 'Rama Aryal',
 'Roshan Aryal',
 'Shyam Aryal',
 'Kalpana Aryal',
 'Tej Prasad Aryal']

In [28]:
AryalFamilyNames.clear??

Signature: AryalFamilyNames.clear()
Docstring: Remove all items from list.
Type:      builtin_function_or_method

In [30]:
AryalFamilyNames.count??

Signature: AryalFamilyNames.count(value, /)
Docstring: Return number of occurrences of value.
Type:      builtin_function_or_method

In [32]:
#delete

In [40]:
AryalFamilyNames

['Amba Aryal',
 'Rekha Aryal',
 'Shyam Aryal',
 'Kalpana Aryal',
 'Tej Prasad Aryal']

In [42]:
 del AryalFamilyNames[2]

In [44]:
AryalFamilyNames

['Amba Aryal', 'Rekha Aryal', 'Kalpana Aryal', 'Tej Prasad Aryal']

# 3. Dictionaries

In [49]:
#Create
astronaut = {
    "name" : "Elon mask" ,
    "suit_size" : "large" ,
    "allergies" : "Peanuts"
}

In [53]:
#read
astronaut

{'name': 'Elon mask', 'suit_size': 'large', 'allergies': 'Peanuts'}

In [55]:
astronaut["name"]

'Elon mask'

In [59]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [61]:
list(astronaut.keys())

['name', 'suit_size', 'allergies']

In [65]:
astronaut.values()

dict_values(['Elon mask', 'large', 'Peanuts'])

In [67]:
#update
astronaut["allergies"] = 'mango'

In [69]:
astronaut

{'name': 'Elon mask', 'suit_size': 'large', 'allergies': 'mango'}

In [71]:
astronaut['space_ship'] = 'Galactic 1'

In [73]:
astronaut

{'name': 'Elon mask',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'Galactic 1'}

In [ ]:
#delete

In [75]:
del astronaut['space_ship']

In [77]:
astronaut

{'name': 'Elon mask', 'suit_size': 'large', 'allergies': 'mango'}

In [95]:
#type
type(4+2j)

complex

# Variables : containers for future use

In [49]:
name = "Rekha"
print(name)

Rekha

In [51]:
a = 3
b = 5
print (a+b)

8

In [53]:
#Dynamic Typing : when creating a variable we donot tell the  data type
a = 3
print (a)
#static Typing
int b = 6

3

In [55]:
type (a)

int

In [57]:
# Dynamic Binding
a= 5
print (a)
a = "Rekha"
print (a)

5
Rekha

In [59]:
a, b,c = 1,2,4
print (a+b+c)

7

In [61]:
a=b=c = 5
print(a , b, c)

5 5 5

In [ ]:
#comments : this is a comment

# Keywords & Identifiers

In [9]:

#Keywords : in python their are 32 keywords 
#keywords are the reserved words 
#Identifiers : Variable , functions , 
# Rules for creating identifiers :
     #it can't start with a digit
# 1name = "rekha"
# print(1num)
   # we can use special chars -> _
last_name = "Aryal"
print(last_name)
   #identifiers can not be keywords

Aryal

In [1]:
#5. User Input : built-in  function 'input()' is used
input()

 hello

'hello'

In [3]:
input('Enter your name ')

Enter your name  Rekha Aryal

'Rekha Aryal'

In [17]:
# take input from the users and store them ina variable
a = input ('Enter the 1st number:')
b = input ('Enter the 2nd number :')
print(type(a) , type(b)) # string is a universal data format
# add the 2 variable 
sum = a + b
#print the result
# print(sum)

Enter the 1st number: 23
Enter the 2nd number : 32

<class 'str'> <class 'str'>

# Type Conversion :

In [10]:
#way to convert one datatype into another datatype 
# 2 types (Implicit & Explicit)
#Implicit :automatically performed by the Python interpreter
#Explicit(Type Casting) : the data types of objects are converted using predefined functions by the user

In [19]:
#Implicit
print(5 , 5.6)
print(type(5) , type(5.6))

5 5.6
<class 'int'> <class 'float'>

In [2]:
#explicit
int(4.5)

4

In [6]:
# int(4+5j)

In [8]:
str(4)

'4'

In [12]:
float(4)

4.0

In [24]:
# take input from the users and store them ina variable
a = input ('Enter the 1st number:')
b = input ('Enter the 2nd number :')
#print(type(a) , type(b)) # string is a universal data format
# add the 2 variable 

#print the result
print(int(a) + int(b))

Enter the 1st number: 4
Enter the 2nd number : 4

8

# Literals : raw data given in a variable

In [38]:
#numeric literal
a = 0b1010 #binary literal
b = 100 #decimal literal
c = 0o310 #octal literal
d = 0x12c #Hexadecimal 
print(d)
print(c)

300
200

In [ ]:
#float literal
float_01 = 10.5 
float_02 = 1.5e2# 1.5 *10^2
float_03 = 1.5e-3#1.5 * 10^-3

In [40]:
#complex literal
x = 3.14j
print(x.real , x.imag)

0.0 3.14

In [56]:
#string
string = 'hello'
strings = "hello"
char = "c"
multipleline_str = """ this is a multiline string """
unicode = u"\U0001f600\U0001F604\U0001F923"
raw_str = r"raw \n string"
print(string)
print(strings)
print(char)
print(multipleline_str)
print(unicode)
print(raw_str)

hello
hello
c
 this is a multiline string
ðŸ˜€ðŸ˜„ðŸ¤£
raw \n string

In [5]:
a = True +4
b = False + 5
print(a)
print(b)

5
5

In [7]:
a = None
print (a)

None

# Conditions and Logic

In [86]:
# Applying logic using the if statement
name = 'Neil Armstrong'
if name == 'Neil Armstrong' : 
    print('whats up Neil')

whats up Neil

In [98]:
test_number = 10 
if test_number >= 5 :
    print ('number is greater than equal to 5' )

number is greater than equal to 5

In [106]:
# used in probalities 
probability = 0.4
if probability >= 0.5 :
    print(True)
else:
    print(False)

False

In [108]:
probability = -7
#probabality greater than 0.5
if probability >= 0.5 :
    print(True)
# Print out a statement if probability is less then 0
elif probability < 0 :
    print("check your probability")
#anything else
else:
    print(False)

check your probability

In [128]:
#creating a list
names = ['Rekha Aryal' , 24 , 'student ' ]
if 'Rekha Aryal' in names :
    print ("Rekha Aryal is here")
    #using python escape
    print('Rekha\'s here')

Rekha Aryal is here
Rekha's here